---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
const metadata = {
  title: 'Carlos Vélez — Página personal',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
 
  

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Carlos Vélez"
    tagline=""    
  >
    <Fragment slot="subtitle">
      Soy psicólogo clínico y docente. <br /> Me apasionan la salud mental, la programación y el análisis de datos.
    </Fragment>
  </Hero>

  
    




 

 

  <!-- Content Widget **************** -->

  <Content
    id="proyectos"
    title="Algunos proyectos en los que he trabajado"
    subtitle=""
    isReversed
    items={[
      {
        title: 'Descripción:',
        description:
          'Aplicación en la que los psicólogos clínicos pueden llevar el registro de los usuarios que están atendiendo. Demuestra el uso de Django y DRF en el backend, así como de JavaScript, React y AntDesign en el frontend. Integra formularios complejos, gestión de usuarios y autenticacion mediante token. Despliegue en PythonAnywhere',
      },
     
    ]}
    image={{
      src: '~/assets/images/psytrack.png',
      alt: 'Imagen de psytrack',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://carloshvelez.pythonanywhere.com/dashboard',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 1: <br /><span class="text-2xl">Psytrack</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description:
          'Página web estática para una organización sin ánimo de lucro. Demuestra el uso de Astro para la creación simple de páginas web estáticas. Despliegue en Netlify.',
      },
      
    ]}
    image={{
      src: '~/assets/images/tejiendo-vinculos.png',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://tejiendovinculos.netlify.app/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 2: <br /><span class="text-2xl">Sitio Tejiendo Vínculos</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripcion:',
        description: `Aplicación simple para el cálculo del Índice de Cambio Fiable; medida popular en la investigación clínica para identificar cambios clínicamente significativos. Uso de JavaScript y Bootstrap. Registro en Google Search Console Tools. Despliegue en Git-Hub pages.`,
      },
      
    ]}
    image={{
      src: '~/assets/images/calculadora-icf.png',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ir al proyecto',
      icon: 'tabler:chevron-right',
      href: 'https://carloshvelez.github.io/icf/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto 3: <br /><span class="text-2xl">Calculadora del índice de cambio fiable</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
  isReversed
  isAfterContent={true}
  items={[
    {
      title: 'Descripcion:',
      description: `Otros proyectos y scripts en los que he venido trabajando y a los que se puede acceder a través de mi dashboard en Git Hub`,
    },
    
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?q=80&w=2088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Imagen git-hub',
  }}
  callToAction={{
    target: '_blank',
    text: 'Ir GitHub',
    icon: 'tabler:chevron-right',
    href: 'https://github.com/carloshvelez',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Otros: 
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
  

 

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Blogs y otros textos"
    information={`Algunos artículos que he escrito en diferentes plataformas`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

   <!-- Features3 Widget ************** -->

   <Features
   title="Tecnologías"
   id="tecnologias"
   subtitle=""
   columns={3}
   defaultIcon="tabler:point-filled"
   items={[
     {
       title: 'Django',
       description: '',
       icon: 'tabler:brand-django'
     },
     {
       title: 'Python',
       description: '',
       icon: 'tabler:brand-python'
     },      
     {
       title: 'R',
       description: '',
       icon: 'tabler:square-letter-r'
     },
     {
       title: 'JavaScript',
       description: '',
       icon: 'tabler:brand-javascript'
     },
     {
       title: 'HTML',
       description: '',
       icon: 'tabler:html'
     },
     {
       title: 'CSS',
       description: '',
       icon: 'tabler:brand-css3'
     },
     {
       title: 'React',
       description: '',
       icon: 'tabler:brand-react'
     },
     {
       title: 'Astro',
       description: '',
       icon: 'tabler:brand-astro'
     },
     
   ]}
 />
</Layout>
